﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="870" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Modifying the Group Variables Template</h1>
        <p>Before installing <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable>s and components, you must also modify the group variables template that you copy from the <MadCap:variable name="General.CompanyName"></MadCap:variable> repository on GitHub to your <cite>env/{{my_setup_env}}/group_vars/all</cite> directory. </p>
        <p>The "/group_vars/all" file sets a  list of Docker registry entries and adds you as a registered Docker user. It can also set S3 service endpoints, sproxyd bootstrap nodes, and logger ports and parameter settings. The group variables file is called by Ansible based on the servers listed under corresponding inventory file group sections. </p>
        <p>The group variables template is shown below:</p>
        <p class="codeparatext">---</p>
        <p class="codeparatext"># Choose which version you want to deploy. It is recommended to </p>
        <p class="codeparatext"># use the latest stable version.</p>
        <p class="codeparatext">env_deploy_version: 1.0.0</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># These are the registries where Docker images are going to be </p>
        <p class="codeparatext"># pulled from. Make sure the target machines are configured to </p>
        <p class="codeparatext"># access the registry with credentials.</p>
        <p class="codeparatext">env_docker:</p>
        <p class="codeparatext">registry:</p>
        <p class="codeparatext">s3: 'scality/s3:{{ env_deploy_version }}'</p>
        <p class="codeparatext">metadata: 'scality/metadata:{{ env_deploy_version }}'</p>
        <p class="codeparatext">vault: 'scality/vault:{{ env_deploy_version }}'</p>
        <p class="codeparatext">sproxyd: scality/sproxyd</p>
        <p class="codeparatext">logger: scality/elk</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># For production, choose a persistent location with enough space </p>
        <p class="codeparatext"># where all data, logs and configuration files will be stored. </p>
        <p class="codeparatext">env_host_home: /tmp</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># The S3 service needs to know its endpoint (domain name) to be </p>
        <p class="codeparatext"># able to distinguish DNS-style requests from path-style ones.</p>
        <p class="codeparatext">env_s3:</p>
        <p class="codeparatext">endpoints:</p>
        <p class="codeparatext">- scality.example.com</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Bootstrap list for sproxyd</p>
        <p class="codeparatext">env_sproxyd:</p>
        <p class="codeparatext">bootstrap_list:</p>
        <p class="codeparatext">- ring1.example.com:4244</p>
        <p class="codeparatext">- ring1.example.com:4244</p>
        <p class="codeparatext">- ring1.example.com:4244</p>
        <p class="codeparatext">- ring1.example.com:4244</p>
        <p class="codeparatext">- ring1.example.com:4244</p>
        <p class="codeparatext">- ring1.example.com:4244</p>
        <p class="codeparatext">- ring1.example.com:4245</p>
        <p class="codeparatext">- ring1.example.com:4245</p>
        <p class="codeparatext">- ring1.example.com:4245</p>
        <p class="codeparatext">- ring1.example.com:4245</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># Logger ports and variables</p>
        <p class="codeparatext">env_logger:</p>
        <p class="codeparatext">elasticsearch_port: 9200</p>
        <p class="codeparatext">logstash_port: 5507</p>
        <p class="codeparatext">kibana_port: 5601</p>
        <p class="codeparatext">level: info</p>
        <p class="codeparatext">dump_level: error</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext"># This will be used by other machines to find the logger server</p>
        <p class="codeparatext">host: logger.scality.example.com</p>
    </body>
</html>