/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: SimpleWithPadding;
	border-collapse: collapse;
	max-id: 7;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 12px;
	border-spacing-y: 0;
	cell-padding-left: 5pt;
	cell-padding-right: 4pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 150px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	size: 75px;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column3;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Header1;
	id: 2;
	background-color: #d3d3d3;
	font-family: 'Geogrotesque Regular';
	color: #000000;
	text-align: center;
	font-size: 10pt;
	cell-padding-left: 1pt;
	cell-padding-right: 1pt;
	cell-padding-top: 1pt;
	cell-padding-bottom: 1pt;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	font-size: 10pt;
	font-family: 'Proxima Nova Rg';
}


/* Cell Styles: */
 
.TableStyle-SimpleWithPadding
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 2px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-SimpleWithPadding-Column-Column1
{
	width: 150px;
}

.TableStyle-SimpleWithPadding-Column-Column2
{
	width: 75px;
}

.TableStyle-SimpleWithPadding-Column-Column3
{
	
}

.TableStyle-SimpleWithPadding-Head-Header1
{
	
}

.TableStyle-SimpleWithPadding-HeadI-Column1-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadF-Column1-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadD-Column1-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadC-Column1-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadA-Column1-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadG-Column1-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadI-Column2-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadI-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadE-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadF-Column2-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadF-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadH-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadD-Column2-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadD-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadC-Column2-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadC-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadB-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadA-Column2-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadA-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadG-Column2-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadG-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadI-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadI-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadE-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadE-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadF-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadF-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadH-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadH-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadD-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadD-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadC-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadC-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadB-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadB-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadA-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadA-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-HeadG-Column3-Header1
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
	text-align: center;
	background-color: #d3d3d3;
	padding-left: 1pt;
	padding-right: 1pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-SimpleWithPadding-HeadG-Column3-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-FootI-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootI-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootE-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootE-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootF-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootF-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootH-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootH-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootD-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootD-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootC-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootC-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootB-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootB-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootA-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootA-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootG-Column1-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootG-Column1- p
{
	
}

.TableStyle-SimpleWithPadding-FootI-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootI-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootE-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootE-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootF-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootF-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootH-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootH-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootD-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootD-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootC-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootC-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootB-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootB-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootA-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootA-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootG-Column2-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootG-Column2- p
{
	
}

.TableStyle-SimpleWithPadding-FootI-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootI-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootE-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootE-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootF-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootF-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootH-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootH-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootD-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootD-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootC-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootC-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootB-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootB-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootA-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootA-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-FootG-Column3-
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-SimpleWithPadding-FootG-Column3- p
{
	
}

.TableStyle-SimpleWithPadding-Body-Body1
{
	
}

.TableStyle-SimpleWithPadding-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyI-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyE-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyF-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyH-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyD-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyC-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyB-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyA-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyG-Column1-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyI-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyI-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyE-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyE-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyF-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyF-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyH-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyH-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyD-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyD-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyC-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyC-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyB-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyB-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyA-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyA-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyG-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyG-Column2-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyI-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyI-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyE-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyE-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyF-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyF-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyH-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyH-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyD-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyD-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyC-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyC-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyB-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyB-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyA-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyA-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyG-Column3-Body1
{
	padding-left: 5pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}

.TableStyle-SimpleWithPadding-BodyG-Column3-Body1 p
{
	font-family: 'Proxima Nova Rg';
	font-size: 10pt;
}


