/*<meta />*/

body
{
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
}
/*
.pgBreakKeepNext
{
	margin-top: 0pt;
	font-weight: 100;
	margin-bottom: 8pt;
	text-align: justify;
	page-break-after: avoid;
}
*/
p
{
	margin-top: 0pt;
	font-weight: 100;
	margin-bottom: 8pt;
	text-align: justify;
	orphans: 2;
	widows: 2;
}

ol
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
}

li
{
	margin-bottom: 5pt;
	margin-top: 5pt;
	margin-right: 12pt;
}

td
{
	vertical-align: top;
	font-family: Calibri;
	font-size: 9pt;
	mc-dita-type: td;
}

p.Header
{
	font-size: 11pt;
	margin-bottom: 0pt;
}

p.Footer
{
	font-size: 11pt;
	margin-bottom: 0pt;
}
/*
p.TOCHeading
{
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0pt;
	border-bottom-color: black;
	margin-top: 12pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	text-align: left;
	mc-heading-level: 10;
	color: #2E74B5;
	font-size: 16pt;
	font-family: 'Geogrotesque SemiBold';
	page-break-before: always;
}

p.TOC1
{
	margin-bottom: 5pt;
}

p.TOC2
{
	margin-bottom: 5pt;
	margin-left: 11pt;
}

p.TOC3
{
	margin-bottom: 5pt;
	margin-left: 22pt;
}
*/

span.HTMLCode
{
	font-size: 10pt;
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
	mc-disabled: false;
}

/*p.Tidbit
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	border: solid 2px;
	padding-left: 3pt;
	padding-right: 3pt;
	font-style: italic;
	padding: 4px;
	font-weight: 600;
	margin-left: 5em;
	margin-right: 5em;
}
*/

span.ProperNameBold
{
	font-weight: bold;
	font-size: 11pt;
}

span.ProprietaryNonConventional
{
	font-style: italic;
	font-size: 11pt;
}

p.Strong
{
	font-weight: bold;
}

span.Hyperlink
{
	color: #0563C1;
	text-decoration: underline;
}

span.Code_Terminal
{
	font-family: 'Courier New';
}

span.Strong
{
	font-weight: bold;
}

h1
{
	text-align: right;
	border-bottom: solid 1px;
	font-size: 20pt;
	font-family: 'Geogrotesque SemiBold';
	font-weight: 100;
	page-break-before: avoid;
	mc-auto-number-format: '{chapnum}.  ';
}

h2
{
	font-family: 'Geogrotesque Regular Italic';
	font-size: 16pt;
	page-break-before: auto;
	margin-bottom: 0.5em;
	mc-auto-number-format: '{chapnum}.{Cn+}.  ';
	mc-next-tag: p;
}

img
{
	text-align: center;
}

/*
img.AbsolutePosition
{

}
*/

img.FiftyPercent
{
	max-width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	page-break-before: avoid;
	padding-top: 5px;
	padding-bottom: 5px;
}

img.OneHundredPercent
{
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	page-break-before: avoid;
	padding-top: 5px;
	padding-bottom: 5px;
}

img.ReduceButtonSize
{
	max-height: 18px;
}

img.SeventyFivePercent
{
	max-width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	page-break-before: avoid;
	padding-top: 5px;
	padding-bottom: 5px;
}

frame
{

}

p.topmargin
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 13pt;
	font-weight: 100;
	margin-top: 8pt;
}

MadCap|annotation
{
	mc-disabled: false;
}

MadCap|bodyProxy
{
	mc-disabled: false;
}

MadCap|breadcrumbsProxy
{
	mc-disabled: false;
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
}

MadCap|conceptLinkControlList
{
	mc-disabled: false;
}

MadCap|conceptLinkControlListItem
{
	mc-disabled: false;
}

MadCap|conceptLinkControlListItemLink
{
	mc-disabled: false;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|conditionalText
{
	mc-disabled: false;
}

MadCap|dropDown
{
	mc-disabled: false;
}

MadCap|dropDownBody
{
	mc-disabled: false;
}

MadCap|dropDownHead
{
	mc-disabled: false;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|equation
{
	mc-disabled: false;
}

MadCap|expanding
{
	mc-disabled: false;
}

MadCap|expandingBody
{
	mc-disabled: false;
}

MadCap|expandingHead
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: false;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Expanding
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Hyperlink
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Popup
{
	mc-disabled: false;
}

MadCap|helpControlList
{
	mc-disabled: false;
}

MadCap|helpControlListItem
{
	mc-disabled: false;
}

MadCap|helpControlListItemLink
{
	mc-disabled: false;
}

MadCap|helpControlMenu
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem.Highlighted
{
	mc-disabled: false;
}

MadCap|indexProxy
{
	mc-disabled: false;
}

MadCap|keyword
{
	mc-disabled: false;
}

MadCap|keywordLink
{
	mc-disabled: false;
}

MadCap|keywordLinkControlList
{
	mc-disabled: false;
}

MadCap|keywordLinkControlListItem
{
	mc-disabled: false;
}

MadCap|keywordLinkControlListItemLink
{
	mc-disabled: false;
}

MadCap|listOfProxy
{
	mc-disabled: false;
}

MadCap|menuProxy
{
	mc-disabled: false;
}

MadCap|miniTocProxy
{
	mc-disabled: false;
	border: solid 3px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-left: 48pt;
	margin-right: 48pt;
	padding-bottom: 10px;
	padding-right: 20px;
	left: 135px;
	border-bottom-color: #960e76;
	border-color: #960e76;
	margin-bottom: 12pt;
	margin-top: 12pt;
}

MadCap|model3D
{
	mc-disabled: true;
}

MadCap|namedDestination
{
	mc-disabled: false;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageFooter.EvenPage
{
	mc-disabled: false;
}

MadCap|pageFooter.FirstPage
{
	mc-disabled: false;
}

MadCap|pageFooter.OddPage
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|pageHeader.EvenPage
{
	mc-disabled: false;
}

MadCap|pageHeader.FirstPage
{
	mc-disabled: false;
}

MadCap|pageHeader.OddPage
{
	mc-disabled: false;
}

MadCap|popup
{
	mc-disabled: false;
}

MadCap|popupBody
{
	mc-disabled: false;
}

MadCap|popupHead
{
	mc-disabled: false;
}

MadCap|qrCode
{
	mc-disabled: false;
}

MadCap|relatedTopics
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlList
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlListItem
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlListItemLink
{
	mc-disabled: false;
}

MadCap|relationshipsHeading
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.concept
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.reference
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.task
{
	mc-disabled: false;
}

MadCap|relationshipsItem
{
	mc-disabled: false;
}

MadCap|relationshipsProxy
{
	mc-disabled: false;
}

MadCap|searchBarProxy
{
	mc-disabled: false;
}

MadCap|searchResultsProxy
{
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|slide
{
	mc-disabled: false;
}

MadCap|slideshow
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.active
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.Start
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.Stop
{
	mc-disabled: false;
}

MadCap|slideshowBullet
{
	mc-disabled: false;
}

MadCap|slideshowBullet.active
{
	mc-disabled: false;
}

MadCap|slideshowCaption
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls.Next
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls.Previous
{
	mc-disabled: false;
}

MadCap|slideThumbnail
{
	mc-disabled: false;
}

MadCap|slideThumbnail.active
{
	mc-disabled: false;
}

MadCap|snippetBlock
{
	mc-disabled: false;
}

MadCap|snippetText
{
	mc-disabled: false;
}

MadCap|tocProxy
{
	mc-disabled: false;
	font-family: 'Proxima Nova Rg';
	width: 100%;
	border-top-style: none;
	page-break-after: always;
	mc-auto-number-format: '{chapnum}.{Cn}.{n+}  ';
}

MadCap|toggler
{
	mc-disabled: false;
}

MadCap|topicToolbarProxy
{
	mc-disabled: false;
}

MadCap|variable
{
	mc-disabled: false;
}

MadCap|xref
{
	mc-disabled: false;
	mc-format: '“{paratext}” {pageref}';
}

MadCap|xref.ConceptPageNumber
{
	mc-disabled: false;
}

MadCap|xref.IndexPageNumber
{
	mc-disabled: false;
}

MadCap|xref.ListOfPageNumber
{
	mc-disabled: false;
}

MadCap|xref.RelLinkPageNumber
{
	mc-disabled: false;
}

MadCap|xref.TOCPageNumber
{
	mc-disabled: false;
}

madcapEditorBehavior
{
	mc-disabled: false;
}

h3
{
	font-family: 'Geogrotesque SemiBold';
	mc-heading-level: 3;
	margin-top: 1.50em;
	mc-auto-number-format: '{chapnum}.{Cn}.{ =0}{n+1}  ';
}

h4
{
	font-family: 'Geogrotesque SemiBold';
	font-size: 1em;
	mc-heading-level: 0;
	margin-top: 1em;
	margin-bottom: 0em;
}

h5
{
	font-family: 'Geogrotesque SemiBold';
	mc-heading-level: 0;
	font-style: italic;
	margin-bottom: 1em;
}

p.Emphasis
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: bold;
}

/*
img.AbsoluteRight
{
	text-align: right;
}
*/

p.ChapterNumber
{
	color: #000000;
	font-size: 110pt;
	font-family: 'Geogrotesque SemiBold';
	margin-bottom: 12pt;
	margin-top: 18pt;
	font-weight: normal;
	text-align: left;
	margin-left: 0in;
	page-break-after: avoid;
	mc-heading-level: 0;
	mc-auto-number-format: '{chapnum}';
}

div
{
	margin-bottom: 6pt;
}

span.SDLDocTitle1st
{
	color: #ffffff;
	font-size: 36pt;
	font-family: 'Geogrotesque Regular';
}

span.SDLDocTitle2nd	/*Title Page subheading*/
{
	font-size: 24pt;
	font-family: 'Geogrotesque Regular';
	color: #ffffff;
	text-indent: 3cm;
}

h1.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

h2.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

MadCap|tocProxy.TOC1
{

}

table
{
	padding: 0pt;
}

p.codeparatext
{
	font-weight: 100;
	font-family: monospace;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	margin-left: 8em;
	margin-right: 5em;
	mc-hyphenate: never;
	orphans: 0;
	widows: 0;
	font-size: 8pt;
}

p.codeparatext_lastline
{
	font-weight: 100;
	display: block;
	font-family: monospace;
	margin-top: 0pt;
	text-indent: -5.00em;
	margin-left: 8em;
	orphans: 0;
	widows: 0;
	page-break-before: avoid;
	margin-bottom: 6pt;
	text-align: left;
	font-size: 8pt;
}

li.codeparatext_li_lastline
{
	font-family: monospace;
	display: block;
	margin-top: 0pt;
	margin-right: 12pt;
	margin-left: 45pt;
	text-align: left;
	text-indent: -25pt;
	margin-bottom: 8pt;
	page-break-before: avoid;
	font-size: 8pt;
}
/*
li.Listintable
{
	margin-top: 0pt;
	margin-bottom: 2pt;
}
*/
span.PublicationName
{
	font-style: italic;
	font-size: 11pt;
}

span.Variable
{
	font-style: italic;
	font-size: 12pt;
	font-family: 'Courier New';
}

tr
{
	page-break-inside: avoid;
}

p.codeparatext_indent
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-left: 8em;
	font-size: 8pt;
}

p.codeparatext_indent1
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-left: 10em;
	font-size: 8pt;
}

p.codeparatext_indent2
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-left: 12em;
	font-size: 8pt;
}

p.codeparatext_indent3
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-left: 14em;
	font-size: 8pt;
}


p:before
{

}

fieldset
{
	mc-disabled: true;
}

p.EmphasisStrong
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
}

p.InTableFormatted
{
	font-family: 'Proxima Nova Rg';
	text-align: left;
}

li.InTableFormatted
{
	font-family: 'Proxima Nova Rg';
}
*/
span.ElementName
{
	font-family: monospace;
	font-style: italic;
}

h6
{
	font-variant: small-caps;
	mc-heading-level: 0;
	margin-bottom: 0.5em;
	margin-top: 1.25em;
}

h2.noTOC
{
	mc-heading-level: 0;
	mc-auto-number-format: '{chapnum}.{Cn+}.  ';
}

h3.noTOC
{
	mc-heading-level: 0;
}

/*
p.codeparatext_lastline_indent1
{
	font-weight: 100;
	display: block;
	font-family: monospace;
	margin-top: 0pt;
	margin-left: 12em;
	orphans: 0;
	widows: 0;
	page-break-before: avoid;
	margin-bottom: 6pt;
	text-align: left;
	text-indent: -7em;
	font-size: 8pt;
}
*/
span.ProprietaryFileName
{
	font-style: italic;
	font-size: 11pt;
}
/*
p.codeparatext_lastline_indent2
{
	font-weight: 100;
	display: block;
	font-family: monospace;
	margin-top: 0pt;
	orphans: 0;
	widows: 0;
	page-break-before: avoid;
	margin-bottom: 6pt;
	text-align: left;
	text-indent: -5em;
	margin-left: 12em;
	font-size: 8pt;
}

MadCap|xref.yum
{
	mc-format: '{quote}properly configured{quote} {pageref}';
}

li.EmphasisUnder
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	margin-left: 0em;
	font-weight: bold;
	display: block;
	margin-right: 12pt;
}
*/
li.codeparatext_li_indent
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	margin-left: 55pt;
	display: block;
	margin-top: 0pt;
	font-size: 8pt;
}

li.codeparatext_li
{
	font-family: monospace;
	display: block;
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin-right: 12pt;
	text-align: left;
	mc-leader-indent: 5pt;
	text-indent: -25pt;
	margin-left: 45pt;
	font-size: 8pt;
}

li.paraunder
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	margin-left: 0em;
	display: block;
	margin-right: 12pt;
	padding-left: 0px;
}

li.nest_indent
{
	margin-bottom: 5pt;
	margin-top: 5pt;
	margin-right: 12pt;
	margin-left: -12pt;
}

li.paraunder_indent
{
	display: block;
	margin-left: -12pt;
}
/*
p.codeparatext_indent4
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-left: 16.00em;
	font-size: 8pt;
}

p.codeparatext_lastline_indent3
{
	font-weight: 100;
	display: block;
	font-family: monospace;
	margin-top: 0pt;
	orphans: 0;
	widows: 0;
	page-break-before: avoid;
	margin-bottom: 6pt;
	text-align: left;
	text-indent: -5em;
	margin-left: 14em;
	font-size: 8pt;
}

p.codeparatext_lastline_indent4
{
	font-family: monospace;
	text-indent: -5.00em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-bottom: 6pt;
	margin-left: 16em;
	page-break-before: avoid;
	font-size: 8pt;
}

li.NoteUnder_indent
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	font-weight: bold;
	display: block;
	margin-right: 14pt;
	margin-left: 30pt;
}

li.AlertUnder
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	margin-left: 0em;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
	margin-right: 12pt;
	display: block;
}

li.codeparatext_li_indent_lastline
{
	font-family: monospace;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	margin-left: 55pt;
	display: block;
	margin-top: 0pt;
	margin-bottom: 3pt;
	page-break-before: avoid;
	font-size: 8pt;
}

p.codeparatext_indent5
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-left: 18em;
	font-size: 8pt;
}

p.codeparatext_lastline_indent5
{
	font-family: monospace;
	text-indent: -5.00em;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-bottom: 6pt;
	margin-left: 18em;
	page-break-before: avoid;
	font-size: 8pt;
}
*/
p.caption_figure
{
	margin-top: 0pt;
	margin-bottom: 8pt;
	orphans: 2;
	widows: 2;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 10pt;
	page-break-before: avoid;
}
/*
li.codeparatext_li_indent2
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-left: 65pt;
	font-size: 8pt;
}

li.codeparatext_li_indent_lastline2
{
	font-family: monospace;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-bottom: 3pt;
	page-break-before: avoid;
	margin-left: 65pt;
	font-size: 8pt;
}

li.codeparatext_li_indent3
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-left: 75pt;
	font-size: 8pt;
}

li.codeparatext_li_indent_lastline3
{
	font-family: monospace;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-bottom: 3pt;
	page-break-before: avoid;
	margin-left: 75pt;
	font-size: 8pt;
}

li.codeparatext_li_indent_lastline4
{
	font-family: monospace;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-bottom: 3pt;
	page-break-before: avoid;
	margin-left: 85pt;
	font-size: 8pt;
}

li.codeparatext_li_indent4
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-left: 85pt;
	font-size: 8pt;
}
*/
MadCap|miniTocProxy.inSection
{
	border-bottom-color: #960e76;
	border: solid 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 2px;
	border-color: #3b9cd7;
}
/*
li.codeparatext_li_indent5
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-left: 95pt;
	font-size: 8pt;
}

li.codeparatext_li_indent6
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	margin-left: 105pt;
	font-size: 8pt;
}

p.InTableNote
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: bold;
	font-family: 'Proxima Nova Rg';
	font-size: 9pt;
}
*/
h3.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
	page-break-before: auto;
}
/*
span.LogWarning
{
	background-color: #ffd700;
	font-weight: bold;
	font-size: 10pt;
	font-family: 'Geogrotesque Regular';
	text-transform: uppercase;
}

span.LogInfo
{
	font-weight: bold;
	font-size: 10pt;
	font-family: 'Geogrotesque Regular';
	text-transform: uppercase;
	background-color: #32cd32;
}

span.LogCritical
{
	font-weight: bold;
	font-size: 10pt;
	font-family: 'Geogrotesque Regular';
	text-transform: uppercase;
	background-color: #ff0000;
	color: #ffffff;
}

span.LogError
{
	font-weight: bold;
	font-size: 10pt;
	font-family: 'Geogrotesque Regular';
	text-transform: uppercase;
	background-color: #ffa500;
}
*/
pre
{
	font-size: 8pt;
	margin-left: 18pt;
	mc-hyphenate: never;
}
/*
li.li_codeplacement
{
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: monospace;
	font-size: 8pt;
	display: block;
	margin-bottom: 12pt;
}
*/
p.BoxDrama
{
	margin-bottom: 8pt;
	word-spacing: 2px;
	padding-left: 3pt;
	padding-right: 3pt;
	padding: 4px;
	font-size: 12pt;
	margin-left: 0em;
	margin-right: 0em;
	border-color: #808080;
	font-style: normal;
	font-weight: bolder;
	font-variant: small-caps;
	border: double 3px;
}
/*
p.footnote_asterisk
{
	margin-top: 0pt;
	orphans: 2;
	widows: 2;
	font-style: italic;
	font-size: 10pt;
	page-break-before: avoid;
	text-align: left;
	font-weight: normal;
	margin: 0;
	margin-left: 12pt;
	text-indent: -40pt;
	margin-right: 2em;
	margin-bottom: 12pt;
	padding-left: 50pt;
}

p.footnote_asterisk:before
{
	margin-left: 18pt;
}

p.footnote_asterisk1
{
	margin-top: 0pt;
	orphans: 2;
	widows: 2;
	font-style: italic;
	font-size: 10pt;
	page-break-before: avoid;
	text-align: left;
	font-weight: normal;
	margin: 0;
	margin-bottom: 12pt;
	margin-left: 12pt;
	margin-right: 2em;
	padding-left: 60pt;
	text-indent: -12pt;
}
*/
p.MiniTOC1
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.MiniTOC2
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.MiniTOC3
{
	font-size: 10pt;
	margin-bottom: 3pt;
}

p.MiniTOC4
{
	font-size: 10pt;
}

p.MiniTOC5
{
	font-size: 10pt;
}

p.MiniTOC6
{
	font-size: 10pt;
}

p.MiniTOC7
{
	font-size: 10pt;
}

p.MiniTOC8
{
	font-size: 10pt;
}

p.MiniTOC9
{
	font-size: 10pt;
}

figcaption
{
	text-align: center;
	page-break-before: avoid;
	font-size: 10pt;
	font-style: italic;
	font-weight: bold;
}

code
{
	mc-hyphenate: never;
}

td ul
{
	font-family: Calibri;
	font-size: 9pt;
	margin-left: 12pt;
	padding: 0pt;
}

td ol
{
	margin-left: 12pt;
	padding: 0pt;
}

td li
{
	margin-top: 1pt;
	margin-bottom: 1pt;
}

li pre
{
	margin-left: 0pt;
}

ol
{
	list-style-type: decimal;
}

ol ol
{
	list-style-type: lower-alpha;
}

ol ol ol
{
	list-style-type: lower-roman;
}

ul
{
	list-style-type: disc;
}

ul ul
{
	list-style-type: circle;
}

ul ul ul
{
	list-style-type: square;
}

td p
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

span.DRAFT
{
	font-family: 'Arial Black';
	font-size: 14pt;
	font-weight: bold;
	color: #ff0000;
	mc-conditions: 'PrintGuides.DRAFT';
}

span.inline-comment
{
	color: #ff0000;
	mc-conditions: 'PrintGuides.DRAFT';
}

@media print
{
	ul
	{
		font-family: 'Proxima Nova Rg';
	}

	ol
	{
		font-family: 'Proxima Nova Rg';
	}

	td
	{
		font-family: 'Calibri';
		line-height: 9pt;
		margin: 3px;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 3pt;
		padding-bottom: 3pt;
	}

	li.codeparatext_li
	{
		margin-left: 45pt;
	}

	p.BoxTip
	{
		mc-image-position: left;
		mc-image: none;
		vertical-align: middle;
		page-break-inside: avoid;
		padding-right: 40pt;
		margin-left: 10%;
		margin-right: 10%;
		background-position: 2% 50%;
		font-weight: 100;
		border-bottom-width: 2pt;
		border: ridge 0pt;
		padding-left: 50pt;
		font-style: normal;
		background-image: url('../Images/tipsbulblight.png');
		background-repeat: no-repeat;
		padding-bottom: 10pt;
		padding-top: 10pt;
		color: #000000;
		background-color: #f0fff0;
		border-radius: 15pt;
	}

	p.BoxNote
	{
		mc-image-position: left;
		mc-image: none;
		vertical-align: middle;
		page-break-inside: avoid;
		padding-right: 40pt;
		margin-left: 10%;
		margin-right: 10%;
		background-position: 2% 50%;
		font-weight: 100;
		border-bottom-width: 2pt;
		padding-left: 50pt;
		font-style: normal;
		background-repeat: no-repeat;
		border-bottom-style: double;
		border-color: #0099c1;
		background-image: url('../Images/summary-png-icon-6105.png');
		color: #000000;
		border: none 2pt;
		padding-bottom: 10pt;
		padding-top: 10pt;
		border-bottom-color: #0099c1;
		background-color: #f0f8ff;
		border-radius: 15pt;
	}

	p.BoxWARNING
	{
		mc-image-position: left;
		mc-image: none;
		background-repeat: no-repeat;
		vertical-align: middle;
		page-break-inside: avoid;
		padding-right: 40pt;
		margin-left: 10%;
		margin-right: 10%;
		background-position: 2% 50%;
		padding-left: 50pt;
		border-bottom-width: 2pt;
		border-right-style: none;
		border-left-style: none;
		padding-bottom: 10px;
		padding-top: 10px;
		font-style: normal;
		font-size: 10pt;
		font-weight: bold;
		border: none 3pt;
		border-radius: 15pt;
		color: #ffffff;
		background-color: #000000;
		background-image: url('../Images/hand-o-stop.png');
	}

	span.Hyperlink
	{
		color: #358cc1;
	}

	pre
	{
		border: solid 2pt;
		border-color: #dcdcdc;
		border-radius: 5pt;
		padding: 5pt;
	}

	p.BoxIMPORTANT
	{
		mc-image-position: left;
		mc-image: none;
		background-repeat: no-repeat;
		vertical-align: middle;
		page-break-inside: avoid;
		color: #000000;
		padding-right: 40pt;
		margin-left: 10%;
		margin-right: 10%;
		background-position: 2% 50%;
		padding-left: 50pt;
		font-weight: 100;
		border-bottom-width: 2pt;
		font-style: normal;
		border-right-style: none;
		border-left-style: none;
		border: none 3pt;
		padding-bottom: 10px;
		padding-top: 10px;
		background-color: #ffffe0;
		border-radius: 15pt;
		background-image: url('../Images/scalityalert.png');
	}

	p.EmphasisCRITICAL
	{
		color: #ffffff;
		font-family: 'Proxima Nova Rg';
		font-size: 11pt;
		font-weight: bolder;
		background-color: #000000;
		word-spacing: 2px;
		padding: 2px;
	}

	/*
	pre.subNoBreak
	{
		border: none 0pt;
		margin-left: 0pt;
		padding: 0pt;
		padding-top: 8pt;
		page-break-inside: avoid;
	}
       */
	
	h3
	{
		mc-auto-number-format: '{chapnum}.{Cn}.{Cn+}  ';
	}

	MadCap|miniTocProxy.inSection
	{
		border-bottom-color: #00b2a9;
		border-color: #00b2a9;
	}

	p.caption_figure
	{
		text-align: center;
	}

	td li
	{
		font-size: 9pt;
	}

	td ul
	{

	}

	li
	{
		widows: 2;
	}

	h1
	{

	}

	li pre
	{
		margin-bottom: 6pt;
	}

	img.SeventyFivePercent
	{

	}

	p pre
	{
		padding: 2pt;
		margin-left: 2pt;
		padding-left: 4pt;
		padding-right: 4pt;
	}

	/* td.li
{
	display: list-item;
	mc-dita-type: li;
	text-indent: -5em;
	text-align: left;
	margin-left: -32 px;
}
*/

	MadCap|xref.section_number
	{
		mc-format: 'section {paranumonly}';
	}

	td pre
	{
		border: none;
		display: inline-block;
	}

	td code
	{
		font-size: 8pt;
		vertical-align: bottom;
	}

	li p.BoxWARNING
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 6pt;
	}

	li p.BoxNote
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 6pt;
	}

	li p.BoxTip
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 6pt;
	}

	li p.BoxIMPORTANT
	{
		margin-left: 0pt;
		margin-right: 0pt;
		margin-top: 6pt;
	}

	/*
td p ~ pre
{
	border: solid 2pt;
	border-color: #dcdcdc;
	border-radius: 5pt;
	padding: 5pt;
}*/

	td p
	{
		text-align: left;
		line-height: 9pt;
		display: block;
		font-weight: normal;
		margin-bottom: 3pt;
		margin-top: 3pt;
	}

	b
	{
		font-weight: bold;
	}

	span.inline-comment
	{
		mc-conditions: 'PrintGuides.Not_Ready_Yet';
	}

	MadCap|xref.HeadingOnly
	{

	}
}

MadCap|xref.HeadingOnly
{
	mc-format: '{paratext} ';
}
